
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter allBucket">
               <a href="/"><i class="fas fa-angle-double-left "></i> All Buckets</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark" style="font: size 28px;">NEW BUCKET</h2>
            <span class="text-dark" style="font-size: 20px; vertical-align: 50%;">Use the form below to create a new bucket</span>
        </div>

        <!-- add user form -->
        <%- include('include/_form') %>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
