<%-include('_header')%>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

<div class="text-center center-div" id="login">
    <div class="container w-25 border py-5">
        <div class="title pb-5">
            <h2 class="font-weight-bold">LOGIN</h2>
            <span>Log into the dashboard </span>
                <!-- <%if(locals.logout){%>
                    <div class="alter alert-success text-center">
                     <%=logout%>
                    </div>
                    <%}%> -->
        </div>
        <form action="/login" method="post" class="pt-3">
            <div class="login">
                <div class="emailInput">
                    <input type="email" placeholder="email@email.com" name="email">
                </div>
                <small class="form-text text-muted">Enter Email Address</small>
            </div>
            <div class="login">
                <input type="password" class="form-control" placeholder="password" name="password">
            </div>
            <button type="submit" class="btn btn-success rounded-pill">SUBMIT</button>
        </form>
    </div>
</div>



<%-include('_footer')-%>
